@font-face {
  font-family: 'Tahoma';
  src: url('../font/Tahoma.woff2') format('woff2'),
      url('../font/Tahoma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../font/Tahoma-Bold.woff2') format('woff2'),
      url('../font/Tahoma-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../font/Tahoma.woff2') format('woff2'),
      url('../font/Tahoma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../font/Tahoma-Bold.woff2') format('woff2'),
      url('../font/Tahoma-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Tahoma, sans-serif, Arial, Helvetica;
  font-size: 14px;
  color: #222;
}

.telegram-chat .dropdown-toggle::after {
  display: none;
}

.tg-font {
  font: 14px/18px Tahoma,sans-serif,Arial,Helvetica;
  color: #222;
}

/* CHATS HEADER */
.chats__header {
  max-height: 55px;
  box-shadow: 0px 3px 2px -2px rgba(173,173,173,1);
-webkit-box-shadow: 0px 3px 2px -2px rgba(173,173,173,1);
-moz-box-shadow: 0px 3px 2px -2px rgba(173,173,173,1);
}

.chats__search-input {
  border-radius: .1rem;
  background-color: #f1f1f1;
}

.chats__search-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(57,192,244);
}

.chats__sidebar-toggler-btn.focus, 
.chats__sidebar-toggler-btn:focus,
.chats__lock-btn.focus,
.chats__lock-btn:focus {
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

/* CHATS-LIST */
.chats__item {
  color: #bbb;
}

.chats__item:hover {
  color: #bbb;
  background-color: #f1f1f1;
}

.chats__item.active:hover {
  color: #fff;
}

.chats__item.active {
  background-color: #419fd9;
}

.chats__item.active .chats__item-demo-user,
.chats__item.active .chats__item-chat-title {
  color: #fff !important;
}

.chats__item.active .chats__item-sended-icon,
.chats__item.active .chats__item-icon {
  fill: #fff;
}

.chats__item--channel .chats__item-icon--channel {
  display: block;
}

.chats__item--unread .chats__item-badge {
  display: block;
}

.chats__item--unread .chats__item-pin {
  display: none;
}

.chats__item--pined .chats__item-pin {
  display: block;
}

.chats__item--archive .chats__item-sended-icon,
.chats__item--archive .chats__item-datetime {
  display: none;
}

.chats__item-img-wrapper {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
}

.chats__item-img-wrapper--archived-chats {
  background-color: #bbb;
  background-image: url(../img/icon/archived-tg.svg);
}

.chats__item-img-wrapper--saved-messages {
  background-color: #65aadd;
  background-image: url(../img/icon/saved-meassagw-white.svg);
}

.chats__item-datetime {
  font-size: 12px;
}

.chats__item-badge {
  display: none;
  font-size: 13px;
  font-weight: normal;
  background-color: rgb(158, 158, 158)!important;
} 

.chats__item-pin {
  display: none;
}

.chats__item.active .chats__item-badge {
  color: #419fd9 !important;
  background-color: rgb(223, 213, 213) !important;
}

.chats__item-icon {
  display: none;
  fill: #000;
}

.chats__item-demo-user {
  color: #39c0f4;
}



/* CHAT */
.chat {
  max-height: 100vh;
}

.chat__header {
  box-shadow: 0px 3px 2px -2px rgba(173,173,173,1);
-webkit-box-shadow: 0px 3px 2px -2px rgba(173,173,173,1);
-moz-box-shadow: 0px 3px 2px -2px rgba(173,173,173,1);
}

.chat__header-status {
  color: #bbb;
}

.chat__header-info-btn {
  display: inline-block;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.chat__header-icon {
  color: #bbb;
}

.chat__header-voice-icon {
  top: 6px;
  left: 12px;
}

/* CHAT MAIN */
.chat__main {
  background-image: url(../img/max-van-den-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* DIALOG */
.dialog {
  color: #222;
}

.dialog__item {
  max-width: 335px;
}

.dialog__item--channel .dialog__item-img {
  display: none;
}

.dialog__item--channel .dialog__content-wrapper {
  margin-left: 8px;
}

.dialog__item--sent .dialog__content-wrapper {
  display: flex;
  align-items: flex-end;
}

.dialog__item--accepted {
  flex-direction: row-reverse;
  margin-left: auto;
}

.dialog__item--accepted .dialog__content-wrapper {
  display: flex;
  align-items: flex-end;
}

.dialog__item--accepted .dialog__content-wrapper::before {
  order: 2;
  margin-right: 0;
  margin-left: -15px;
}

.dialog__content-wrapper {
  box-shadow: -1px 10px 16px -17px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 10px 16px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 16px -17px rgba(0,0,0,0.75);
}

.dialog__content-wrapper::before {
  margin-right: -15px;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
  border-radius: 4px;
  content: '';
}

.dialog__item--accepted .dialog__content-wrapper::before {
  border-bottom: 12px solid #effdde;
}

/* .dialog__item--accepted .dialog__content-wrapper {
  margin-right: 8px;
} */

.dialog__content {
  background-color: #fff;
  border-radius: 9px;
}

.dialog__item--accepted .dialog__content {
  background-color: #effdde;
}

.dialog__item--accepted .dialog__item-img {
  margin-left: 0 !important;
  margin-right: 13px;
}

.dialog__item--sent .dialog__sended-icon {
  display: none;
}

/* .dialog__item--accepted .dialog__content-wrapper::after {
  margin-right: -12px;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
  content: '';
} */

.dialog__title {
  color: #1891df;
}

.dialog__item--accepted .dialog__title {
  display: none;
}

.dialog__text {
  line-height: 20px;
}

.dialog__seen-time {
  color: #bbb;
}

.dialog__item--accepted .dialog__seen {
  display: none !important;
}

.dialog__item--chat .dialog__seen {
  display: none !important;
}

.dialog__item--accepted .dialog__time {
  color: #73c56b;
}

/* VOICE MODAL */
.voice-modal {
  position: absolute;
  left: 0;
  top: 0;
}

.voice-modal.fade .voice-modal__dialog {
  transform: translateY(100px);
  opacity: 0;
}

.voice-modal.fade.show .voice-modal__dialog {
  opacity: 1;
}

.voice-modal__content {
  width: 365px;
}

.voice-modal__title {
  font-family: "Arial";
}

.modal-body__list {
  max-height: 380px;
}

.modal-body__item-inner {
  cursor: default;
}

.modal-body__item-inner:hover {
  background-color: #f1f1f1;
}

.modal-body__item-inner--active .modal-body__item-title {
  color: #419fd9;
}

.modal-body__item-inner--active .modal-body__img-wrapper {
  border: 3px solid #419fd9;
}

.modal-body__item-inner--active .modal-body__img {
  width: 33px;
  height: 33px;
}

.modal-body__img-wrapper {
  width: 43px;
  height: 43px;
}

.modal-body__img {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: width 0.1s cubic-bezier(.8,.26,.43,1.21),
  height 0.1s cubic-bezier(.8,.26,.43,1.21);
}

.modal-body__item-title {
  color: #343a40;
}

.modal-body__item-info {
  color: #bbb;
}

.voice-modal__footer-link {
  color: #39c0f4;
}

.voice-modal__footer-btn {
  color: #419fd9 !important;
  font-size: 15px;
}

/* CHAT INFO MODAL */
.modal-info__dialog {
  max-width: 430px;
}

.modal-info__status {
  color: #bbb;
}

.modal-info__content {
  background-color: #f1f1f1;
}

.modal-info__link {
  line-height: 10px;
  color: #39c0f4;
}

.modal-info__info-wrapper {
  border-bottom: 1px solid #dadada;
}

.modal-info__info {
  line-height: 25px;
}

.modal-info__link-text {
  color: #bbb;
}

.modal-info__chat-link {
  color: #419fd9;
}


/* SIDEBAR-MODAL */
.sidebar-modal {
  padding: 0 !important; 
}

.sidebar-modal__header {
  background-color: #419fd9;
}

.sidebar-modal.fade .sidebar-modal__dialog {
  margin: 0;
  transform: translateX(-100%);
}

.sidebar-modal.show .sidebar-modal__dialog {
  transform: translateX(0);
}

.sidebar-modal__user-img-btn.focus,
.sidebar-modal__user-img-btn:focus,
.sidebar-modal__saved-messages-link:focus,
.sidebar-modal__profiles-toggler:focus {
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}


.sidebar-modal__saved-messages-link {
  background: rgba(39, 135, 170, 0.6);
}

.sidebar-modal__toggle-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.sidebar-modal__toggle-icon--open {
  transform: rotate(360deg);
}

.checked-account-icon {
  top: calc(100% - 12px);
  left: calc(100% - 12px);
}

.sidebar-modal__username {
  font: 14px/18px Tahoma,sans-serif,Arial,Helvetica;
  color: #fff;
}

.sitebar-modal__tg-text {
  font-size: 12px;
  font-weight: 600;
}

.sitebar-modal__about-text {
  font-size: 13px;
}


/* ACTIONS LIST */
.actions-list__item, .actions-list__item .stretched-link {
  cursor: pointer;
}


/* LOCK MODAL */
.lock-modal {
  padding: 0 !important; 
}

.lock-modal__modal-dialog {
  max-width: 100%;
  margin: 0;
}

.lock-modal__password-input {
  border: 0;
  border-bottom: 3px solid var(--primary);
}

.tg-icon {
  fill: #adadad;
}


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #adadad; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad; 
}


@media (min-width: 768px) {
  /* SIDEBAR-MODAL */
  .sidebar-modal__dialog {
    max-width: 41.666667%;
  }
}


@media (min-width: 992px) {
  /* SIDEBAR-MODAL */
  .sidebar-modal__dialog {
    max-width: 25%;
  }
}

@media (min-width: 1250px) {
  /* SIDEBAR-MODAL */
  .sidebar-modal__dialog {
    max-width: 20%;
  }
}
